.idea
dataset/.amountFactor.tmp
dataset/.amountSize.tmp
dataset/.maxlength.tmp
dataset/.maxLines.tmp
dataset/.minlength.tmp
dataset/.sed.linesToDelete.tmp
dataset/dl4mt/test
dataset/dl4mt/valid
dataset/dl4mt/train
dataset/foma/Data*
dataset/foma/sp*
dataset/foma/foma
dataset/foma/Generated_Data
dataset/foma/Original_Data
dataset/foma/redbutton
dataset/foma/template.txt
dataset/mnist_data/mnist.pkl.gz
dataset/penn-tree-bank/ptb
dataset/penn-tree-bank/treebank
dataset/wiki/old
dataset/wiki/wikitext-2
dataset/wiki/wikitext-2-raw
dataset/wiki/wikitext-103
dataset/wiki/wikitext-103-raw
dataset/hutter-text/enwik8
dataset/hutter-text/enwik9
dataset/hutter-text/text8
dataset/mobility/.DS_STORE
dataset/mobility/taxi_log_2008_by_id
dataset/billion_words
dataset/paper_dataset
__pycache__
*.pyc
*.dat
trash
build
test*
*.c
*.so
*.html
*.png
*.swp
*.save
paper_related/
pmi_data/
mi_data/
