.idea
dataset/.amountFactor.tmp
dataset/.amountSize.tmp
dataset/.maxlength.tmp
dataset/.maxLines.tmp
dataset/.minlength.tmp
dataset/.sed.linesToDelete.tmp
dataset/dl4mt/test
dataset/dl4mt/valid
dataset/dl4mt/train
dataset/foma/Data*
dataset/foma/sp*
dataset/foma/SP*
dataset/foma/Old*
dataset/foma/foma
dataset/foma/Generated_Data
dataset/foma/Original_Data
dataset/foma/redbutton
dataset/foma/template.txt
dataset/mnist_data/mnist.pkl.gz
dataset/mnist_data/mnist_data.dat
dataset/mnist_data/mnist_data_un.dat
dataset/mnist_data/mnist_data_per_1.dat
dataset/mnist_data/mnist_data_per_2.dat
dataset/penn-tree-bank/ptb
dataset/penn-tree-bank/treebank
dataset/wiki/old
dataset/wiki/wikitext-2
dataset/wiki/wikitext-2C
dataset/wiki/wikitext-2P
dataset/wiki/wikitext-2-raw
dataset/wiki/wikitext-2-wR
dataset/wiki/wikitext-19
dataset/wiki/wikitext-19C
dataset/wiki/wikitext-19L
dataset/wiki/wikitext-103
dataset/wiki/wikitext-103C
dataset/wiki/wikitext-103-raw
dataset/hutter-text/enwik8
dataset/hutter-text/enwik9
dataset/hutter-text/text8
dataset/mobility/.DS_STORE
dataset/mobility/taxi_log_2008_by_id
dataset/billion_words
dataset/paper_dataset/ModifiedWiki
dataset/paper_dataset/PTB
dataset/paper_dataset/Text8/
dataset/paper_dataset/wikitext-103/
dataset/paper_dataset/wikitext-19L/
dataset/paper_dataset/wikitext-2/
dataset/paper_dataset/wikitext-m/
dataset/m-wikitext-2
dataset/POS/dl4mt/
dataset/POS/wikitext-2/
dataset/one-billion-words/
dataset/cifar-10/data_batch_1
dataset/cifar-10/data_batch_2
dataset/cifar-10/data_batch_3
dataset/cifar-10/data_batch_4
dataset/cifar-10/data_batch_5
dataset/cifar-10/batches.meta
dataset/cifar-10/test_batch
dataset/NEW/
dataset/time_series/
__pycache__
*.pyc
trash
build
*.so
*.html
*.swp
*.save
pmi_data/
*.csv
*.out
