dataset/data
dataset/foma
dataset/.amountFactor.tmp
dataset/.amountSize.tmp
dataset/.maxlength.tmp
dataset/.maxLines.tmp
dataset/.minlength.tmp
dataset/.sed.linesToDelete.tmp
dataset/dl4mt
dataset/mnist_data
dataset/penn-tree-bank
dataset/wiki
__pycache__
*.pyc
*.dat
trash
